<a href="https://colab.research.google.com/github/soobihn/SB/blob/main/%EB%AC%B8%EC%A0%9C_format_List2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##변수에 이름/학교/학과 형식으로 저장하고 format을 사용해print하시오(이름/학교/학과는 각각 input을 활용해 입력

In [ ]:
A = input("이름/학교/학과 : ")

이름/학교/학과 : 홍길동/강원대학교/ai

In [ ]:
print(("저는 {} {}학과에 다니는 {}이라고 합니다.").format(A[4:9],A[10:],A[:3]))

저는 강원대학교 ai학과에 다니는 홍길동이라고 합니다.

##위에서 생성된 이름/학교/학과 라는 문자를 이름-학교-학과로 변환하시오

In [ ]:
A.replace("/","-")

'홍길동-강원대학교-ai'

##안녕하세요 저는 AI소프트웨어학과 학생입니다. 만나서 반갑습니다. 라는 문장을 만들어서 반갑습니다. 라는 문장만 따로 print하시오

In [ ]:
B = "안녕하세요 저는 AI소프트웨어학과 학생입니다. 만나서 반갑습니다."

In [ ]:
B[-6:]

'반갑습니다.'

In [ ]:
B[29:]

' 반갑습니다.'

##위에서 저장된 변수에서 학교이름만 나오도록 print하시오

In [ ]:
A[4:9]

'강원대학교'

##주어진 이름(Jone-30, Park-30, Kim-20, Lee-10, Oh-32, Kang-25)을 name이란 리스트를 만들고 Lee를 가진 사람의 성만 따로 도출하시오

In [ ]:
Name = ["Jone-30", "Park-30", "Kim-20", "Lee-10", "Oh-32", "Kand-25"]

In [ ]:
Name[3][:Name[3].index("-")]

'Lee'

##20, 50, 76, 10, 59, 22, 40 ,50, 77, 52의 숫자를 하나의 리스트에 저장하시오

In [ ]:
Num = [20,50,76,10,59,22,40,50,77,52]

## 위에서 저장된 리스트에서 20, 50, 76, 10만 print하시오

In [ ]:
Num[:4]

[20, 50, 76, 10]

##위에서 저장된 리스트에서 77만 print하시오

In [ ]:
Num[-2]

77

In [ ]:
Num[8]

77

## 위에서 저장된 리스트에서 음수를 활용해 77, 52를 가지고오시오

In [ ]:
Num[-2:]

[77, 52]