<a href="https://colab.research.google.com/github/soobihn/SB/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input()

홍길동

In [ ]:
age = input()

123

In [ ]:
print(f'이름은 {name}이고 나이는 {age}살이다.')

이름은 홍길동이고 나이는 123살이다.

In [ ]:
for i in range(1,10):
  print(f'-----------{i}단-----------')
  for j in range(1,10):
    print(f'구구단 : {i}*{j}={i*j}입니다.')

-----------1단-----------
구구단 : 1*1=1입니다.
구구단 : 1*2=2입니다.
구구단 : 1*3=3입니다.
구구단 : 1*4=4입니다.
구구단 : 1*5=5입니다.
구구단 : 1*6=6입니다.
구구단 : 1*7=7입니다.
구구단 : 1*8=8입니다.
구구단 : 1*9=9입니다.
-----------2단-----------
구구단 : 2*1=2입니다.
구구단 : 2*2=4입니다.
구구단 : 2*3=6입니다.
구구단 : 2*4=8입니다.
구구단 : 2*5=10입니다.
구구단 : 2*6=12입니다.
구구단 : 2*7=14입니다.
구구단 : 2*8=16입니다.
구구단 : 2*9=18입니다.
-----------3단-----------
구구단 : 3*1=3입니다.
구구단 : 3*2=6입니다.
구구단 : 3*3=9입니다.
구구단 : 3*4=12입니다.
구구단 : 3*5=15입니다.
구구단 : 3*6=18입니다.
구구단 : 3*7=21입니다.
구구단 : 3*8=24입니다.
구구단 : 3*9=27입니다.
-----------4단-----------
구구단 : 4*1=4입니다.
구구단 : 4*2=8입니다.
구구단 : 4*3=12입니다.
구구단 : 4*4=16입니다.
구구단 : 4*5=20입니다.
구구단 : 4*6=24입니다.
구구단 : 4*7=28입니다.
구구단 : 4*8=32입니다.
구구단 : 4*9=36입니다.
-----------5단-----------
구구단 : 5*1=5입니다.
구구단 : 5*2=10입니다.
구구단 : 5*3=15입니다.
구구단 : 5*4=20입니다.
구구단 : 5*5=25입니다.
구구단 : 5*6=30입니다.
구구단 : 5*7=35입니다.
구구단 : 5*8=40입니다.
구구단 : 5*9=45입니다.
-----------6단-----------
구구단 : 6*1=6입니다.
구구단 : 6*2=12입니다.
구구단 : 6*3=18입니다.
구구단 : 6*4=24입니다.
구구단 : 6*5=30입니다.
구구단 : 6*6=36입니다.
구구단 : 6*7=42입니다.
구구단 : 6*8=48입니다.
구구단 : 6*9=54입니다.
-----------7단-----------
구구단 : 7*1=7입니다.
구구단 : 7*2=14입니다.
구구단 : 7*3=21입니다.
구구단 : 7*4=28입니다.
구구단 : 7*5=35입니다.
구구단 : 7*6=42입니다.
구구단 : 7*7=49입니다.
구구단 : 7*8=56입니다.
구구단 : 7*9=63입니다.
-----------8단-----------
구구단 : 8*1=8입니다.
구구단 : 8*2=16입니다.
구구단 : 8*3=24입니다.
구구단 : 8*4=32입니다.
구구단 : 8*5=40입니다.
구구단 : 8*6=48입니다.
구구단 : 8*7=56입니다.
구구단 : 8*8=64입니다.
구구단 : 8*9=72입니다.
-----------9단-----------
구구단 : 9*1=9입니다.
구구단 : 9*2=18입니다.
구구단 : 9*3=27입니다.
구구단 : 9*4=36입니다.
구구단 : 9*5=45입니다.
구구단 : 9*6=54입니다.
구구단 : 9*7=63입니다.
구구단 : 9*8=72입니다.
구구단 : 9*9=81입니다.

In [ ]:
exam = {60,80,95,69,90,81,80,59,79,66,70,90,96}

딕셔너리>

In [ ]:
for i in exam:
  if i>=90:
    print(f'당신의 성적은 {i}이므로 점수는 A입니다.')
  elif i>=80:
    print(f'당신의 성적은 {i}이므로 점수는 B입니다.')
  elif i>=70:
    print(f'당신의 성적은 {i}이므로 점수는 C입니다.')
  elif i>=60:
    print(f'당신의 성적은 {i}이므로 점수는 D입니다.')
  else:
    print(f'당신의 성적은 {i}이므로 점수는 F입니다.')

당신의 성적은 96이므로 점수는 A입니다.
당신의 성적은 66이므로 점수는 D입니다.
당신의 성적은 69이므로 점수는 D입니다.
당신의 성적은 70이므로 점수는 C입니다.
당신의 성적은 79이므로 점수는 C입니다.
당신의 성적은 80이므로 점수는 B입니다.
당신의 성적은 81이므로 점수는 B입니다.
당신의 성적은 90이므로 점수는 A입니다.
당신의 성적은 59이므로 점수는 F입니다.
당신의 성적은 60이므로 점수는 D입니다.
당신의 성적은 95이므로 점수는 A입니다.

In [ ]:
j=0
for i in range(1,11):
  j = j+i
  print(f'i의 값:{i}, 합계:{j}')

i의 값:1, 합계:1
i의 값:2, 합계:3
i의 값:3, 합계:6
i의 값:4, 합계:10
i의 값:5, 합계:15
i의 값:6, 합계:21
i의 값:7, 합계:28
i의 값:8, 합계:36
i의 값:9, 합계:45
i의 값:10, 합계:55

In [ ]:
i = int(input("금액을 입력하시오: "))
if i>=10000:
  print("구매가능")
else:
  print("구매 불가능")

금액을 입력하시오: 9000
구매 불가능