<a href="https://colab.research.google.com/github/soobihn/SB/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##name과 age 변수를 만들어 print와 format을 활용해 name 변수에는 이름, age변수에는 나이를 입력해 결과를 프린트 하시오

In [ ]:
name=input("이름을 입력해주세요")
age=int(input("나이를 입력해 주세요"))

이름을 입력해주세요김창균
나이를 입력해 주세요34

In [ ]:
print(("저의 이름은{}이고, 나이는 {}입니다.").format(name,age))

저의 이름은김창균이고, 나이는 34입니다.

##1단 부터 9단까지 구구단을 만드시오

In [ ]:
for i in range(1,10):
  print(("------{}단------").format(i))
  for j in range(1,10):
    print(("구구단 : {}X{}={} 입니다.").format(i,j,i*j))

##exam=[60,80,95,69,90,81,80,69,79,66,70,90,96]을 리스트로 변환하고 90점 이상 A 80점 이상 90점 미만B, 70점 이상 80점 미만을 C 60점 이상 70점 미만은 D 이외는 F로 아래와 같이 나타내시오

In [ ]:
exam=[60,80,95,69,90,81,80,69,79,66,70,90,96]

In [ ]:
for i in exam:
  if i>=90:
    print("A")
  elif i>=80 and i<90:
    print("B")
  elif i>=70 and i<80:
    print("C")
  elif i>=60 and i<70:
    print("D")
  else:
    print("F")

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
  print(("i의 값 {}, 합계: {}").format(i, sum))

i의 값 1, 합계: 1
i의 값 2, 합계: 3
i의 값 3, 합계: 6
i의 값 4, 합계: 10
i의 값 5, 합계: 15
i의 값 6, 합계: 21
i의 값 7, 합계: 28
i의 값 8, 합계: 36
i의 값 9, 합계: 45
i의 값 10, 합계: 55

##중국집에서 주문을 한다. 짜장면 한그릇은 10,000원 이다. 입력 금액이 짜장면 한 그릇보다 많으면 구매가능 아니면 구매 불가능으로 나타내시오

In [ ]:
jjajang=int(input())

if jjajang >10000:
  print(("당신은 {}원이 있으므로 {}개 구매가능").format(jjajang, jjajang/10000))
else:
  print("구매불가능")

13000
당신은 13000원이 있으므로 1개 구매가능

##중국집에서 주문을 한다. 짜장면 한그릇은 10,000원 이다. 입력 금액이 짜장면 한 그릇보다 많으면 구매가능 아니면 구매 불가능으로 나타내시오

당신은 13000원이 있으므로 1개 구매가능

In [ ]:
jjajang=int(input())

if jjajang >10000:
  print(("당신은 {}원이 있으므로 {}개 구매가능").format(jjajang, jjajang//10000))
else:
  print("구매불가능")

##저는 .. 학과이고 이름은 .. 저의 나이는 ... 이고 저의 키는 ...입니다.

In [ ]:
a=input("학과를 입력해 주세요 : ")
b=input("이름을 입력해 주세요 : ")
c=int(input("나이를 입력해 주세요 : "))
d=float(input("키를 입력해주세요 : "))

print("저는 {} 학과이고 이름은 {} 저의 나이는 {} 이고 저의 키는 {} 입니다.").format(a,b,c,d)

##한 학생의 시험 점수는 다음과 같다. grades=[85, 90, 92, 78, 80, 95]이때 모든 점수의 합의 평균이 85점이 넘을때 시험에 합격했습니다.라는 문구를 넣어서 print해줘

In [ ]:
grades=[85, 90, 92, 78, 80, 95]

In [ ]:
sum = 0
count = 0

for grade in grades:
    sum=sum + grade
    count=count + 1

average = sum / count

if average > 85:
    print("축하합니다. 시험에 합격했습니다.")

축하합니다. 시험에 합격했습니다.